// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

// .bg-dark{
//     background-color: #242533 !important;
// }
//#242533
//#333647
body{
    color: #fff;
}

section:nth-child(2n+1) { 
    background-color: #333647;
 } // for odd
section:nth-child(2n+2) { 
    background-color:  #242533;
} // for even


section{
    padding:3rem 0;
}
/********************
Intro
********************/


/********************
About
********************/

/********************
Skill
********************/

/********************
services
********************/

/********************
Portfolio
********************/

/********************
Testimonial
********************/

/********************
Blog
********************/

/********************
Contact 
********************/