// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
html {
    scroll-behavior: smooth;
}



.navbar-dark {
    padding: 1.4rem 0;
    background-color: #242533;

    .navbar-brand {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 2rem;
    }

    .navbar-nav {
        .nav-item {
            text-transform: uppercase;

            &.active {

                .nav-link {
                    color: #FEC158;
                    border-bottom: 1px solid #FEC158;
                }
            }

            &:hover {

                .nav-link {
                    border-bottom: 1px solid $white;
                }
            }
        }
    }

}

.top-arrow {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 100%;
    background: rgb($white, 0.3);
    width: 2rem;
    height: 2.5rem;
    border: 1px solid $white 0.3;
    text-align: center;
    animation: bounch 2s infinite;

    i {

        line-height: 2.5;
    }
}