// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

section:nth-child(2n+1) {
    background: #333647;
    background-size: 150%;
}

// for odd
section:nth-child(2n+2) {
    background: #242533;
}

// for even


section {
    padding: 5rem 0;
}

/********************
Intro
********************/
#home {
    .intro__content {
        padding: 3rem 0;

        h2 {
            margin-bottom: 1rem;
            font-size: 2.6rem
        }

        h1 {
            margin-bottom: 1rem;
            font-size: 5rem;
            font-weight: 700;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
        }

        span {
            font-size: 2rem;
        }
    }
}


/********************
About
********************/
.page-title {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
        font-size: 3rem;
        // font-family: 'DM Serif Display', serif;
        font-weight: 700;
        letter-spacing: 0.3rem;
    }
}


/********************
Skill
********************/
.skill {
    &__content-wrap {
        margin-bottom: 1rem;
        padding:1rem;
        overflow: hidden;

        h3 {
            margin-bottom: 1rem;
        }

        .progress {
            //margin-bottom: 1rem;
        }
    }
}


/********************
Services
********************/
.services {
    &__content {
        text-align: center;

        .icon {
            i {
                font-size: 3rem;
                clear: both;
                display: block;
                margin-bottom: 3rem;
            }
        }
    }
}

/********************
Portfolio
********************/
.portfolio {
    &__content-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1.6rem;
        margin-bottom: 3rem;

        &:nth-child(2n+1) {
            grid-template-areas:
                "portfolio-content portfolio-figure";

        }

        &:nth-child(2n+2) {
            grid-template-areas:
                "portfolio-figure portfolio-content";
        }

        .portfolio-content {
            grid-area: portfolio-content;
            padding: 2rem;

        }

        .portfolio-figure {
            grid-area: portfolio-figure;

        }
    }
}

/********************
Testimonial
********************/
.testimonial {
    &__content {
        text-align: center;

        .figure {
            position: relative;
            width: 70px;
            height: 70px;
            overflow: hidden;
            border-radius: 50%;
            margin-top: 1rem;
            margin-bottom: 1rem;

        }
    }
}


/********************
Blog
********************/
.blog {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr;
        grid-template-areas:
            "blog-figure blog-info";
        grid-gap: 1.2rem;
        margin-bottom: 2rem;
        .blog-figure {
            grid-area: blog-figure;

        }

        .blog-info {
            grid-area: blog-info;
            .cat{
                padding-right:0.5rem;
                font-size: 0.8rem;
            }
            .date{
                font-size: 0.8rem;
            }
            h3{
                font-size: 1rem;
                margin-top:0.5rem;
                margin-bottom:1.5rem;
                a{
                    text-decoration: none;
                    border: none;
                    border-bottom: 1px solid $white;
                    padding-bottom: 0.3rem;
                }
            }

        }
    }
}


/********************
Contact
********************/
.contact{
    
    &__wrap{
        .map{

        }
        .contact-form{
            padding:2rem 1rem;
        }
    }
}

footer{
    padding:0.8rem 0;
    text-align: center;
    background-color: #333647;
}